sentence-transformers
langchain==0.1.14
langchain_community==0.0.31
langchain_core==0.1.40
PyPDF2==3.0.1
python-dotenv==1.0.1
streamlit==1.33.0
streamlit_extras==0.4.2
streamlit_scrollable_textbox==0.0.3
